<div class="rxjs-demo">
  <h1 class="center">Welcome to RxJs Demo</h1>
  <ul>
    <li routerLink="/simple" routerLinkActive="active">Simple Demo</li>
    <li routerLink="/simple1" routerLinkActive="active">Two Observer</li>
    <li routerLink="/stream" routerLinkActive="active">Mouse Move</li>
    <li routerLink="/stream1" routerLinkActive="active">操作 Stream</li>
    <li routerLink="/stream2" routerLinkActive="active">Merge Stream</li>
    <li routerLink="/concat-stream" routerLinkActive="active">Concat Stream</li>
    <li routerLink="/multicast" routerLinkActive="active">Multicast</li>
    <li routerLink="/scheduler" routerLinkActive="active">Scheduler</li>
  </ul>
  <div class="router-block">
    <router-outlet></router-outlet>
  </div>
</div>
